.music-player__song {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  cursor: pointer;
  transition:0.3s ease-in;
  .song__details {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--left {
      display: flex;
      align-items: center;
    }
  }
  .song__meta {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    .song__title {
      margin-bottom:4px;
      h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      max-width: 190px;
    }
  }
  .song__cover-image {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: rgba(40, 128, 185, 0.5);
    transition:0.3s;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(40, 128, 185, 0.2),
      rgba(40, 128, 185, 0.02)
    );
    opacity: 0;
    transition: 0.3s ease-out;
    transform: translateX(-100%);
  }
  &:hover {
    &:before {
      transform: translateX(0);
      opacity: 1;
      z-index: 1;
    }
  }
  &.music-player__song--active{
    &:before{
      transform: translateX(0);
      opacity: 1;
      z-index: 1;
    }
  }
}